html {
    width: $full-size;
    
    padding: $zero;
    margin: $zero;
}

body {
    padding: $zero;
    margin: $zero;
}

header {
    padding: $zero;
    margin: $zero;

    width: $full-size;
}

main {
    padding: $zero;
    margin: $zero;

    width: $full-size;
}

footer {
    padding: $zero;
    margin: $zero;

    width: $full-size;
}

#cover {
    width: $full-size;
    min-height: 100vh;

    background-color: $empty_container;
}