@import './body/header.scss';
@import './body/main.scss';
@import './body/footer.scss';

#cover {
    width: $full-size;
    min-height: 100vh;

    background-color: $empty_container;
    overflow: hidden;
}



@import './body/queries.scss';
