@import './notices.scss';
@import './colors.scss';
@import './defaults.scss';
@import './body.scss';


html {
    width: $full-size;

    padding: $zero;
    margin: $zero;
}

body {
    padding: $zero;
    margin: $zero;
}

header {
    padding: $zero;
    margin: $zero;
}

main {
    padding: $zero;
    margin: $zero;
}

footer {
    padding: $zero;
    margin: $zero;
}