* text=auto

*.md diff=markdown eol=crlf
*.sh diff=sh eol=lf

*.html diff=html eol=lf
*.js diff=js eol=lf

*.svg diff=svg eol=lf

*.scss diff=css eol=lf
*.css diff=css eol=lf

*.map diff=map eol=lf


# Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf
.gitstore text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore